@model WebApplication1.Models.tblStudent

@{
    ViewData["Title"] = "Additems";
}

<h1>Additems</h1>

<hr />

<p><hr /></p>

<div>
    <form asp-action="AddListitems">
        <input type="button" id="AddNewList" value="AddNewList" class="btn btn-primary" />
    </form>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Student Number
                </th>
                <th>
                    First Name
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Phone
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbd12">
            <tr id="tr1">
                <td>
                    <input type="text" class="form-control" id="Stud_Numbr0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="FirstName0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="LastName0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="Gender0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="Phone0" />
                </td>
                <td><button class="form-control" id="Addmore">+</button> </td>
            </tr>

            @foreach (var item in ViewBag.Student)
            {
                <tr>
                    <td>
                       @item.Stud_Numbr
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var rowctr = 1
            var rowData1 = new Array();
            $("#Addmore").click(function () {
                var a = $('<tr>');
                a.append('<td><input type="text" class= "form-control" id = "Stud_Numbr'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "FirstName'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "LastName'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "Gender'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "Phone'+rowctr+'" /></td>');
                a.append('<td><button class="form-control  btn btn-danger" id="btnRemove' + rowctr + '">x</button></td>');
                a.append('</tr>');
                //$('#tbd12').append(a);
                $(this).closest('tr').after(a);
                rowctr++;
            });

            $('#tbd12').on('click', '.btn.btn-danger', function () {
                // Find the closest 'tr' element and remove it
                $(this).closest('tr').remove();
            });

            $("#AddNewList").click(function () {
                debugger;
                for (var i = 0; i < rowctr; i++) {
                    var studmodl = {};
                    // Get values from input fields
                    var studNumbr = $('#Stud_Numbr' + i).val();
                    var firstName = $('#FirstName' + i).val();
                    var lastName = $('#LastName' + i).val();
                    var gender = $('#Gender' + i).val();
                    var phone = $('#Phone' + i).val();

                    // Check if any value is undefined
                    if (studNumbr !== undefined && firstName !== undefined && lastName !== undefined && gender !== undefined && phone !== undefined) {
                        // Assign values to studmodl only if they are not undefined
                        studmodl.Stud_Numbr = studNumbr;
                        studmodl.FirstName = firstName;
                        studmodl.LastName = lastName;
                        studmodl.Gender = gender;
                        studmodl.Phone = phone;

                        // Push the row data only if all values are defined
                        rowData1.push(studmodl);
                    }
                }
                //var y = JSON.stringify(rowData1);
                senddata(rowData1);
            });

        });


        function senddata(rowData1) {
            $.ajax({
                url: '/Home/AddListitems',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(rowData1),
                success: function (response) {
                    // Handle success
                    console.log(response);
                },
                error: function (error) {
                    // Handle error
                    console.error(error);
                }
            });
        }
    </script>

}
