@model WebApplication1.Models.tblStudent

@{
    ViewData["Title"] = "Additems";
}

<h1>Additems</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Additems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stud_Numbr" class="control-label"></label>
                <input asp-for="Stud_Numbr" class="form-control" />
                <span asp-validation-for="Stud_Numbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p><hr /></p>

<div>
    <form asp-action="AddListitems">
        <input type="button" id="AddNewList" value="AddNewList" class="btn btn-primary" />
    </form>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Student Number
                </th>
                <th>
                    First Name
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Phone
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbd12">
            <tr>
                <td>
                    <input type="text" class="form-control" id="Stud_Numbr0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="FirstName0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="LastName0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="Gender0" />
                </td>
                <td>
                    <input type="text" class="form-control" id="Phone0" />
                </td>
                <td><button class="form-control" id="Addmore">+</button> </td>
            </tr>

            @foreach (var item in ViewBag.Student)
            {
                <tr>
                    <td>
                       @item.Stud_Numbr
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var rowctr = 1
            var rowData1 = new Array();
            $("#Addmore").click(function () {
                var a = $('<tr>');
                a.append('<td><input type="text" class= "form-control" id = "Stud_Numbr'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "FirstName'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "LastName'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "Gender'+rowctr+'" /></td>');
                a.append('<td><input type="text" class= "form-control" id = "Phone'+rowctr+'" /></td>');
                a.append('<td><button class="form-control" id="Addmore">+</button></td>');
                a.append('</tr>');
                $('#tbd12').append(a);
                rowctr++;
            });

            $("#AddNewList").click(function () {
                debugger;
                for (var i = 0; i < rowctr; i++) {
                    var studmodl = {};
                    studmodl.Stud_Numbr = $('#Stud_Numbr' + [i]).val();
                    studmodl.FirstName = $('#FirstName' + [i]).val();
                    studmodl.LastName = $('#LastName' + [i]).val();
                    studmodl.Gender = $('#Gender' + [i]).val();
                    studmodl.Phone = $('#Phone' + [i]).val();
                    rowData1.push(studmodl);
                }
                //var y = JSON.stringify(rowData1);
                senddata(rowData1);
            });

        });


        function senddata(rowData1) {
            $.ajax({
                url: '/Home/AddListitems',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(rowData1),
                success: function (response) {
                    // Handle success
                    console.log(response);
                },
                error: function (error) {
                    // Handle error
                    console.error(error);
                }
            });
        }
    </script>

}
